#clefTable {
    border-collapse: collapse;
    position: relative;
    font-size: 24px;
}



#padTable {
    border-collapse: separate; /* Para que border-spacing funcione */
    border-spacing: 10px;      /* Espacio entre celdas (ajústalo según necesites) */
}

body {
    touch-action: none;
}

#clefTable td {
    width: 25px;
    height: 14px;
    position: relative;
    border-right: 2px dotted #E8E8E8;
    text-align: left;
}



.line-clef-row {
    border-top: 2px solid black; /* Creates the staff lines */
}

.note-on-line {
    position: absolute;
    left: 20%;
    top: 0; /* Align with the top border */
    transform: translate(-50%, -50%);
}

.note-on-line-striked {
    position: absolute;
    left: 20%;
    top: 0; /* Align with the top border */
    transform: translate(-50%, -50%);
    text-decoration: line-through;
}

.note-on-space {
    position: absolute;
    left: 20%;
    top: 0; /* Align with the top border */
    transform: translate(-50%, -50%);
}


.natural-key {
    background: white; /* Ensures readability */
    width: 25px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 30; /* Align with the top border */
    transform: translate(-50%, -50%);
}

.artificial-key {
    background: black; /* Ensures readability */
    width: 25px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 0; /* Align with the top border */
    transform: translate(-50%, -50%);
}

.gameConsoleText {
    border-color: black;
    width:45px;
}

#songSelect, #trackSelect, #clefSelect, #signatureSelect, #inputSelect {
    width: 150px;
}

.padButtonClass {
    width: 70px;
    height: 70px;
}

#scoreText, #mistakesText, #detectedText {
    width: 30px;
}




.note-new-level {
    color: #2196F3;           /* blue highlight for "new" notes at this level */
    text-shadow: 0 0 4px rgba(33, 150, 243, 0.5);
}
