.firstNoteClass {
   background-color : #FFFFFF;
}

.secondNoteClass {
   background-color : #F9F9F9;
}

.chordModClass {

}

.thirdNoteClass {
   background-color : #F6F6F6;
}

.forthNoteClass {
   background-color : #F3F3F3;
}

.diatonicClass{
    box-shadow : '10px 10px 20px rgba(0, 0, 255, 0.5)';
}

.nonDiatonicClass {
    box-shadow:'';
}

.disabledNoteClass {
   color:grey;
}

#circleCanvas {
	  touch-action: manipulation;
}

input[name="octaveSelect"] {
	height:35px; width:65px; vertical-align: middle;
	  touch-action: manipulation;
}

input[name="chordModeSelect"] {
	height:35px; width:65px; vertical-align: middle;
}

input[name="scaleButton"] {
	height:65px; width:70px; vertical-align: middle;
	  touch-action: manipulation;
}

input[name="chordModifierRadio"] {
	height:65px; width:55px; vertical-align: middle;
	  touch-action: manipulation;
}

