.firstNoteClass {
   background-color : #FFFFFF;
}

.secondNoteClass {
   background-color : #999999;
}

.thirdNoteClass {
   background-color : #666666;
}

.forthNoteClass {
   background-color : #333333;
}

.disabledNoteClass {
   color:grey;
}

input[name="chordModeSelect"] {
	height:35px; width:65px; vertical-align: middle;
}

input[name="octaveSelect"] {
	height:35px; width:65px; vertical-align: middle;
}

input[name="chordModeSelect"] {
	height:35px; width:65px; vertical-align: middle;
}

input[name="scaleButton"] {
	height:65px; width:70px; vertical-align: middle;
}

input[name="chordModifierButton"] {
	height:65px; width:65px; vertical-align: middle;
}

#chordModifierTable


    td {
      width: 40px; /* Fixed width */
      height: 50px; /* Optional: Fixed height */
      text-align: center;
      border: 1px solid #ddd;
    }
 td:nth-child(odd) {
      background-color: #f9f9f9;
    }

    td:nth-child(even) {
      background-color: #e0f7fa;
    }

.keyLineClass {
   color: orange;
}
