

.diatonicClass{
    box-shadow : 10px 10px 20px rgba(0, 0, 255, 0.5);
}

.nonDiatonicClass {
    box-shadow:;
}

.disabledNoteClass {
   color:grey;
}

#circleCanvas {
	  touch-action: manipulation;
}

#keyFormulaInput {
	width: 90px;
}

#keyMajorRelativeInput {
	width: 120px;
}

#keySignatureInput {
	width: 90px;
}

input[name="octaveSelect"] {
	height:35px; width:65px; vertical-align: middle;
	  touch-action: manipulation;
}

input[name="chordModeSelect"] {
	height:35px; width:65px; vertical-align: middle;
}

input[name="scaleButton"] {
	height:65px; width:70px; vertical-align: middle;
	  touch-action: manipulation;
}

input[name="chordModifierRadio"] {
	height:65px; width:55px; vertical-align: middle;
	  touch-action: manipulation;
}

