#fretTable {
    border-collapse: collapse;
}
body {
    touch-action: manipulation;
}
td, th {
    border: 1px solid black; /* Define color y grosor de los bordes */
    padding: 8px; /* Espaciado interno */


}


#fretTable tr:first-child td{
    border-bottom: 4px solid black;
}
#fretTable tr td:last-child {
    border: none;
}


#rootChordSelect, #keySelect,#chordSelect {
    width: 30px;
}

#visualizationSelect, #modeSelect {
    width: 40px;
}

#calculatedChordInput, #calculatedKeyInput {
    width: 120px;
}





