#fretTable {
}
body {
    touch-action: manipulation;
}
td, th {
    border: 1px solid black; /* Define color y grosor de los bordes */
    padding: 8px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
}


.gameConsoleText {
    border-color: black;
    width:45px;
}

.OnChord0Class {
    background-color: orange;
}
.OnChord1Class {
    background-color: orange;
}
.OnChord2Class {
    background-color: orange;
}
.OnChord3Class {
    background-color: orange;
}

.OnKey0Class {
    background-color: red;
}
.OnKey1Class {
    background-color: aquamarine;
}
.OnKey2Class {
    background-color: aquamarine;
}
.OnKey3Class {
    background-color: aquamarine;
}
.OnKey4Class {
    background-color: aquamarine;
}
.OnKey5Class {
    background-color: aquamarine;
}
.OnKey6Class {
    background-color: aquamarine;
}

.OnKey-1Class {
    background-color: white;
}

#songSelect, #trackSelect, #clefSelect, #signatureSelect, #inputSelect {
    width: 150px;
}





