#fretTable {
    border-collapse: collapse;
}
body {
    touch-action: manipulation;
}
td, th {
    border: 1px solid black; /* Define color y grosor de los bordes */
    padding: 8px; /* Espaciado interno */


}


#fretTable tr:first-child td{
    border-bottom: 4px solid black;
}
#fretTable tr td:last-child {
    border: none;
}

.OnChord0Class {

    color: red;
}
.OnChord1Class {
    color: green;
}
.OnChord2Class {
    color: blue;
}
.OnChord3Class {
    color: #00FF60;
}
.OnChord4Class {
    color: #00FF60;
}
.OnChord5Class {
    color: #00FF60;
}
.OnChord6Class {
    color: #00FF60;
}


.OnKey0Class span{

    font-weight: bold;
    font-style: italic;
    font-size: 1.7em;
}
.OnKey1Class span{
    font-weight: bold;
    font-style: italic;
    font-size: 1.6em;

}
.OnKey2Class span{
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}
.OnKey3Class span {
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
}
.OnKey4Class span{
    font-weight: bold;
    font-style: italic;
    font-size: 1.3em;
}
.OnKey5Class span{
    font-weight: bold;
    font-size: 1.2em;
    font-style: italic;
}
.OnKey6Class span{
    font-weight: bold;
    font-size: 1.1em;
    font-style: italic;
}

.OnKey-1Class span{
    font-weight: normal;
    font-size: 0.5em;
}

#songSelect, #trackSelect, #clefSelect, #signatureSelect, #inputSelect {
    width: 150px;
}





